  *,
  body,
  html {
      margin: 0;
      padding: 0;
  }

  .mx-auto img {
      margin-left: auto !important;
      margin-right: auto !important;
  }

  .mx-auto video {
      margin-left: auto !important;
      margin-right: auto !important;
  }

  .bg-blue-600 {
      background-color: rgb(221, 221, 224);
      opacity: 0.5;
      height: 100vh;
      width: 100%;
      padding: 0;
      margin: 0;
  }

  .bg-hero {
      background-color: rgba(204, 204, 207, 0.938);
      height: 100vh;
  }